@{
    ViewData["Title"] = "Privacy";
}
<h1>Privacy and security informations</h1>

<link rel="stylesheet" href="~/css/EveryAdvertisementDisplaycss.css" />

<hr class="custom-hr" />

<h3>Keep Your Password Secure!</h3>

<p>◉ Your password is necessary to log in to your account.</p>
<p>◉ Create a unique password and avoid sharing it with anyone.</p>
<p>◉ Update your password regularly and do not use the same password across multiple websites.</p>

<hr class="custom-hr" />

<h3>Beware of Phishing Attempts!</h3>
<p>◉ Be very cautious of suspicious messages, emails or invitations requesting your personal data.</p>
<p>◉ Our team will never ask you to share sensitive details abotu your account via unsolicited communication.</p>
<p>◉ Avoid clicking on links or providing any information unless you are certain of the sender's authenticity.</p>