/* FOR CREATE FORM */
/* Style for the form container */
.custom-form {
    width: 700px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form on the page */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px; /* Curved border */
}


/* Style for form inputs */
.custom-form input[type="text"],
.custom-form input[type="number"],
.custom-form input[type="file"],
.custom-form textarea {
    width: calc(100% - 10px); /* Adjust the width as needed */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Container for the row */
.row {
    display: flex;
    justify-content: space-between;
    width: 104%; /* same width as Features */
    flex-wrap: wrap;
    gap: 15px; /* gap between columns */
    margin-bottom: 10px; /* vertical space */
}

/* Individual columns */
.column {
    width: calc(33% - 20px);
}