/* Flexbox layout for the ad container */
.ad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for individual car advertisement items */
.advertisement {
    width: calc(35% - 40px); /* 25% width with some margin space */
    max-width: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #0D6EFD;
}

/* Styles for the car image */
.ad-image {
    width: 170px;
    height: auto;
    border-radius: 8px;
    border: 3px solid #0D6EFD; /* asp.net identity blue :) */
    margin-bottom: 10px;
}

/* Styles for text content in the advertisement */
.ad-content {
    font-size: 16px;
    color: #333;
}

/* Styles for heading in the advertisement */
.ad-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Custom line to split the page */
.custom-hr {
    border: none;
    height: 1px;
    opacity: 0.5;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    background-color: #0D6EFD;
}


/* removes bullet symbols from listings */
ul {
    list-style: none;
    /* position: absolute;
    right: 0; */
}